# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
desktop.ini
g-export.pdf
server*.out.log
server*.err.log
SMART_IO.CRD
.SMART_IO.CRD
.clasp.json
apps-script/.clasp.json
apps-script/20260625-移機說明-*.md

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
